body {
    background: linear-gradient(70deg, rgb(53, 53, 67), rgb(34, 34, 62));
    color: white;
    font-family: 'Hedvig Letters Serif', serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.Cuerpo {
  text-align: center;
}
.boton {
    padding: 10px 20px;
    background-color: #4c63af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .boton:hover {
    background-color: #4c63af;
  }
  .boton:active {
    background-color: #4c63af;
  }
  
textarea {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    background: rgb(148, 148, 148);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

nav ul {
  list-style: none;
}

nav li {
  display: inline; /* Hace que los ítems del menú estén en una línea horizontal */
  margin-right: 40px; /* Espacio entre los ítems del menú */
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
  background: #4c63af;
}
